[Desktop Entry]
Version=1.0
Name=Bashtop
Type=Application
Comment=Linux resource monitor
Comment[hr]=Nadgledatej linux sustava
Terminal=true
Exec=bashtop
Icon=bashtop
Categories=ConsoleOnly;System;
Keywords=system;process;task
